<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISamenSterker_Service" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:49846/SamenSterker_Service.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISamenSterker_Service"
                contract="SamenSterkerServiceReference.ISamenSterker_Service"
                name="BasicHttpBinding_ISamenSterker_Service" />
        </client>
    </system.serviceModel>
</configuration>